## START

### SEABORN PYTHON LIBRARY

### INTRODUCTION
- There are some limitations when using the matplotlib such as customizing data and grouping data
- If we want to customize and group data we need lot of coding and this is where seaborn comes in which is easy and simple to use
- Seaborn is biuilt on top of matplotlib abd its powerful and simple to use 
- its used for relational regression and multigrid plots 
- alias used for seaborn library is sns

### INSTALLING AND IMPORTING SEABORN PYTHON LIBRARY 
- before importing install it using pip install command

In [1]:
import seaborn as sns
import pandas as pd 
import numpy as np

### INBUILT DATASETS IN SEABORN 
- There are several inbuilt dataset in seaborn which is really helpful when learning or getting to know the library 
- You can check which data sets are available and choose the one which you want to work with for leanring and getting to know the seaborn library 
- you can use the get_dataset_names to get all the data ssets available in and use those dataset using load_dataset function

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
penguins=sns.load_dataset('penguins')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

### PERFORMING EDA(Exploratory Data Analysis)
- Once you load the data then you must know whats that data about and explore it 
- know the shape of the dataset to start with 
- in EDA know what each feature represents because if you dont than you want be able to do deep analysis on that data 
- check the data type of each feature to know what kind of data is stored 
- check few samples from top and bottom to make sure that the whole data is loaded 
- check the value counts for all the categorical column get know how data is distributed

Know the struture ofd the data set and the types of values stored in ti and how many null values are there

In [4]:
penguins.shape

(344, 7)

In [5]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

Checking few samples of the data set 
- use head() for top 5 
- Use tail() - bottom 5

In [6]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [7]:
penguins.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male