### START

### INTRODUCTION TO PANDAS PYTHON LIBRARY

1 pandas is the python library which represents the data in tabular form

2 pandas allows us to import the datasets from the csv or excel or SQL database data source

3 data cleaning involves the filling of missing values and replacing the invalid values 

4 missing value is null value and invalid value is when we get the incorrect data when we check the context

5 pandas have size mutability that means we can easily add or remove the columns and rows

6 we can reshape pivot manupulate extract our dataset as needed and also perform the statistic  analysis

### IMPORTING PANDAS LIBRARY

In [2]:
import pandas as pd

### DATA STRUCTURES IN PANDAS 
data structure is the collection of datatypes that provides the best way to organise the items or values interms of memory usage conbination to There are two types of data struture in pandas and they are series and data frame. 

The series is the one dimensional data struture and data frma eis two dimensional data struture 

The series represent only one column of the dataset and data frame represents entire dataset

SERIES DATASTRUTURE IN PANDAS

1 series represents the one dimensionaal data struture which can only hold one column from the dataset 

2 series will be the values of a particular column infront of which the index of the value is given. index always starts with 0

3 series contains only one column and yoiu can extend the rows as many as you want 

4 series is a homogeneous data struture that means it can only hold one kind of datatype and if we add another data type previous values of the series will be converted to current datatype 

5 datatype of the integer value is integer and object is the data type of string and only these two data types can be there in the series 

6 series is size immutable that means you cannot delete the row in series and if you remove the values then it will create new series with those values and will not change the original series

DATA FRAMES DATA STRUTURE IN PANDAS

1 data frame is two dimensional data struture which contains the rows and columns in it 

2 in data frame you can increase the number of rows and columns as well 

3 it is size mutable which means you can delete update or append the coulmns and rows 

4 its a heterogenous data struture which means you can have multiple data types in single column as well

### CREATING SERIES IN PANDAS
when we create the series using pandas we get the index values and data type of the series as output and we use series function of pandas to create the series data struture

In [3]:
s=pd.Series([10,20,30,40,50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### PROPERTIES OF THE SERIES 
There are several properties of the series which can be checked such as data type values name and index of the series as given below 

initially the name of series is none and we can assign the desired name to series and when we access the series after that it will be denoted by that name

In [8]:
print(s.dtype)
print(s.values)
print(s.index)
print(s.name)
s.name="Numbers"
print(s.name)
print(s)

int64
[10 20 30 40 50]
RangeIndex(start=0, stop=5, step=1)
Numbers
Numbers
0    10
1    20
2    30
3    40
4    50
Name: Numbers, dtype: int64