### START

### SQLALCHEMY PYTHON LIBRAR
its a database toolkit which allows the python to :
- connect to databases 
- execute SQL query safely
- fetch data into python objects /dataframes
- automate database workflow
- the data analyst must know core of sqlalchemy which is sql and engine

IMPORTING SQLALCHEMY
- two things are imported from sqlalchemy first one is create_engine and second one is text and its often combined with pandas

In [13]:
from sqlalchemy import create_engine,text
import pandas as pd

### DATABASE CONNECTION:
SQLAlchemy uses the engine to manage 
- connection pooling
- credentials
- DB communication
- it can connect to SQLlite postgreSQL and MySQL

### CONNECTION TO BIGQUERY
- install the following package pip install sqlalchemy google-cloud-bigquery sqlalchemy-bigquery
- format of the connection string is f"bigquery://{project_id}
- first create the service account for the project you want to connect to 
- then go aheady and create the service key both first and second step has to be done in google bigquery 
- store the porject id and then use the general url for bigquery 
- use setx GOOGLE_APPLICATION_CREDENTIALS "D:\data-analytics-porfolio\data-analytics-portfolio\PYTHON\SQLALCHEMY_LIBRARY\fresh-airfoil-480905-f2-c081b5586d1e.json" command in CMD as admin to authenticate the service account
- once you have everything ready create the engine using create_engine function of sqlalchemy 
- make sure that the role is assigned as admin when in iam section of bigquery in browser
- once the connection is created to bigquery make sure to test the connection before proceeding further

CREATING THE CONNECTION

In [14]:
project_id="fresh-airfoil-480905-f2"
engine1=create_engine(
    f"bigquery://{project_id}"
)

TESTING THE CONNECTION

In [15]:
with engine1.connect() as conn1:
    result1=conn1.execute(text("select 1"))
    print(result1.scalar())

c:\Users\3525\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\client.py:613: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  warnings.warn(

1

### CONNECTING TO MYSQL SERVER
- first install the pysql package using the follwoing command :pip install sqlalchemy pymysql mysqlclient
- connection string for mysql server :mysql+pymysql://username:password@host:port/database
- encode the @ to %401 which is its quivalent in password else localhost is not recognized
- install crytography to know the encoding pip install cryptography

In [16]:
from sqlalchemy import create_engine,text
from sqlalchemy.engine import URL
url2=URL.create(
    drivername="mysql+pymysql",
    username="root",
    password="Wfargo@1",
    host="localhost",
    database="college",
    port=3306
)
engine2=create_engine(
    url2,
    pool_pre_ping=True
)

In [17]:
with engine2.connect() as conn2:
    result2=conn2.execute(text("select 1"))
    print(result2.scalar())

1

### CONNECTING TO MS SQL SERVER:
- before connecting to MS SQL server make sure that the server is running 
- please install pyodbc the following package before proceeding pip install sqlalchemy pyodbc
- you must next install the ODBC driver either ODBC Driver 17 for SQL Server or ODBC Driver 18 for SQL Server
- Once the driver is installed verify that its installed correctly and then you can create the url and engine as given below 
- Once the connection is established test the connection

VERIFY IF THE ODBC DRIVER IS INSTALLED PROPERLY

In [18]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'ODBC Driver 17 for SQL Server', 'ODBC Driver 18 for SQL Server']

ESTABLISHING THE CONNECTION TO MS SQL SERVER

In [19]:
from sqlalchemy import create_engine,text
from sqlalchemy.engine import URL
url3=URL.create(
    drivername="mssql+pyodbc",
    host="localhost",
    database="SQL_Training",
    query={
        "driver":"ODBC Driver 17 for SQL Server",
        "trusted_connection":"yes"
    }
)
engine3=create_engine(url3,pool_pre_ping=True)

In [20]:
with engine3.connect() as conn3:
    result3=conn3.execute(text("select 1"))
    print(result3.scalar())

1

### EXECUTING THE RAW SQL QUERY
- once you have connection to the sql server whether bigquery or Mysql server or MsSQL server you must be able to query thw databases of the server

### QUERYING THE TABLES FROM MYSQL SERVER

OPTION 1 USING THE PANDAS DATAFRMAE FOR GETTING OUTPUT

In [21]:
query=text("select * from college.student")
df=pd.read_sql(query,engine2)
df

   rollno  stuname  marks grade    city
0     101     anil     78     C    pune
1     102  bhumika     93     A  mumbai
2     103   chetan     85     B  mumbai
3     104    dhruv     92     A   delhi
4     105  emanual     12     F   delhi
5     106    farah     82     B   delhi

CONVERTING ROWS TO DICTIONARIES WHICH CAN BE USED AS JSON OR API

In [22]:
query=text("select * from college.student")
with engine2.connect() as conn2:
    result2=conn2.execute(query)
    rows=result2.mappings().all()
    print(rows)

[{'rollno': 101, 'stuname': 'anil', 'marks': 78, 'grade': 'C', 'city': 'pune'}, {'rollno': 102, 'stuname': 'bhumika', 'marks': 93, 'grade': 'A', 'city': 'mumbai'}, {'rollno': 103, 'stuname': 'chetan', 'marks': 85, 'grade': 'B', 'city': 'mumbai'}, {'rollno': 104, 'stuname': 'dhruv', 'marks': 92, 'grade': 'A', 'city': 'delhi'}, {'rollno': 105, 'stuname': 'emanual', 'marks': 12, 'grade': 'F', 'city': 'delhi'}, {'rollno': 106, 'stuname': 'farah', 'marks': 82, 'grade': 'B', 'city': 'delhi'}]

USING THE PRETTY PRINT

In [23]:
from pprint import pprint
from sqlalchemy import create_engine,text
from sqlalchemy.engine import URL
import pandas as pd
url=URL.create(
    drivername="mysql+pymysql",
    username="root",
    password="Wfargo@1",
    host="localhost",
    database="college",
    port=3306
)
engine=create_engine(
    url,
    pool_pre_ping=True
)

In [24]:
query=text("select * from college.student")
with engine.connect() as conn:
    result=conn.execute(query)
    pprint(result.fetchall())

[(101, 'anil', 78, 'C', 'pune'),
 (102, 'bhumika', 93, 'A', 'mumbai'),
 (103, 'chetan', 85, 'B', 'mumbai'),
 (104, 'dhruv', 92, 'A', 'delhi'),
 (105, 'emanual', 12, 'F', 'delhi'),
 (106, 'farah', 82, 'B', 'delhi')]

### QUERYING TABLES FROM BIGQUERY
- always remember that the table struture for bigquery is project-d.dataset.tablename enclosed in the back ticks `
- always use limit so that it is not stuck and always try to fetch columns rather then using *

In [25]:
from pprint import pprint
from sqlalchemy import create_engine,text
from sqlalchemy.engine import URL
import pandas as pd
url=f"bigquery://fresh-airfoil-480905-f2"
engine2=create_engine(
    url
)

In [26]:
query=text("select * from `fresh-airfoil-480905-f2.powerlifting.openpowerlifting` limit 10")
data=pd.read_sql(query,engine2)
data

c:\Users\3525\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\client.py:613: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  warnings.warn(

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Place,Wilks
0,62,Dalton Berry,M,Single-ply,16.0,Teen,95.30,None,NaN,NaN,NaN,107.5,None,242.5,350.0,2,217.40
1,1435,Nicholas Weite,M,Single-ply,33.5,SuperHeavy,122.25,None,NaN,380.0,NaN,252.5,None,350.0,982.5,9,562.50
2,1436,Benedicte Lepanse,F,Single-ply,34.5,Light,48.01,None,NaN,165.0,NaN,97.5,None,162.5,425.0,8,562.79
3,1436,Ielja Strik,F,Single-ply,39.5,SuperHeavy,84.64,None,NaN,262.5,NaN,175.0,None,210.0,647.5,2,575.24
4,1502,Aisling McManus,F,Raw,NaN,F-SEN-C,NaN,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NS,NaN
5,1523,Jazz Joly,F,Raw,22.5,Juniors,62.57,None,NaN,107.5,NaN,55.0,None,127.5,290.0,5,313.07
6,4830,Sane Faatoe,M,Raw,29.5,Open,116.05,None,NaN,NaN,NaN,230.0,None,NaN,230.0,1,133.32
7,4868,Rachel Ting,F,Wraps,NaN,Not Applicable,78.60,None,0.0,82.5,0.0,42.5,None,130.0,255.0,8,235.67
8,4868,Emma Eaton,F,Wraps,NaN,Not Applicable,46.90,None,0.0,62.5,0.0,37.5,None,107.5,207.5,6,279.49
9,4869,Emma Bortolotto,F,Wraps,NaN,Women,84.70,None,NaN,120.0,NaN,62.5,None,125.0,307.5,5,273.09

### QUERYING DATA FROM MS SQL SERVER
- ODBC driver is a must for MS SQL server first check which ODBC driver you have installed 
- you must use 'ODBC Driver 17 for SQL Server' odbc driver as its most recommanded 
- pyodbc is case sensitive so you must specify the query parameter correctly its driver and Trusted_Connection
- always use the dbo prefix before the table name when ever working with ms sql and slqalchemy

In [7]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'ODBC Driver 17 for SQL Server', 'ODBC Driver 18 for SQL Server']

In [11]:
from pprint import pprint
from sqlalchemy import create_engine,text
from sqlalchemy.engine import URL
import pandas as pd
url=URL.create(
    drivername="mssql+pyodbc",
    host="localhost",
    database="SQL_Training",
    query={
        "driver":'ODBC Driver 17 for SQL Server',
        "Trusted_Connection":"yes"
    }
)
engine=create_engine(
    url,
    pool_pre_ping=True
)

In [12]:
query="select * from dbo.countries"
data=pd.read_sql(query,engine)
data

   country_id country_code   country_name
0           1           IN          india
1           2           US  united states
2           3           CA         canada
3           4           SA   south africa
4           5           AS      Australia